h1,
p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(93, 180, 151);
    border: 2px solid black;
    border-radius: 10px;
    width: 350px !important;
    box-shadow: 10px 5px 5px rgb(162, 156, 156);
}

.row {
    display: flex;
    font-size: x-large;
    justify-content: space-between;
    padding: 10px;
    height: 80px;

}

.col-12 {
    background-color: rgb(240, 233, 233);
    border-radius: 20px;
    border: 2px solid black;
}

.col-2 {
    background-color: rgb(252, 242, 242);
    border: 1px solid rgb(203, 198, 198);
    border: 2px solid black;
    border-radius: 10px;
   color: rgb(14, 13, 15);
}

.col-5 {
    background-color: rgb(243, 9, 9);
    color: white;
    border-radius: 15px;
    border: 2px solid black;
}

#clear {
    color: red;
}

#multiple,
#divtion,
#subtract,
#add {
    color: rgb(247, 239, 239);
    background-color: rgb(212, 7, 7);
}

